.skeleton {
  background-color: #222;
  background-image: linear-gradient(90deg, #222 0px, #333 50%, #222 100%);
  background-size: 200% 100%;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton-card {
  width: 150px;
  height: 225px;
  flex-shrink: 0;
  margin-right: 10px;
}

.skeleton-text {
  height: 1rem;
  margin-bottom: 0.5rem;
}

.skeleton-title {
  height: 1.5rem;
  margin-bottom: 1rem;
}
